ONEKHUSA_API_KEY="your_oneKhusa_api_key" 
ONEKHUSA_SECRET_KEY="your_oneKhusa_Secret_Key"
ORGANIZATION_ID="your_organization_id"
MERCHANT_ACCOUNT_NUMBER="your_merchant_account_number"
ADMIN_EMAIL="adminEmail"